--- 
title: Search Results
kind: page
---

#tipue_search_content
%script{ :src => "http://code.jquery.com/jquery-1.7.2.min.js" }
%script{ :src => "/javascripts/tipuesearch-set.js" }
%script{ :src => "/javascripts/tipuesearch-data.js" }
%script{ :src => "/javascripts/tipuesearch.js" }
