---
full_title: On-Site Clojure Training for Teams
---

<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body class="training">
    <div class="twitter">
      <a class="twitter-share-button" href="https://twitter.com/share">tweet bravely and truly</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
      </script>
    </div>
    <div class="nav">
      <div class="container">
        <div>
          <ul>
            <li><a href="/">Brave Clojure</a></li>
            <li><a href="/clojure-for-the-brave-and-true">Clojure for the Brave and True</a></li>
            <li><a href="https://jobs.braveclojure.com">Jobs</a></li>
            <li><a href="http://open-source.braveclojure.com">Open Source Projects</a></li>
            <li><a href="/#quests">Quests</a></li>
            <li><a href="/#quests">Email Learnin&rsquo;</a></
                                                              </ul>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="hero">
        <div class="title">On-Site Clojure Training</div>
        <div class="tagline">with Daniel Higginbotham</div>
        <div class="logo">
          <img src="/assets/images/layout/logo-web-teal-dark.png" />
        </div>
      </div>
    </div>
    <div class="brief">
      <div class="container">
        <div class="spiel">
          <h2>Give Your Team Knowledge and Power</h2>
          <p class="alert">
            <em>Only one session left for July and August</em> - 
            email <a href="mailto:daniel@braveclojure.com">daniel@braveclojure.com</a>
            to book your on-site training course
          </p>
          <p>
            Considering Clojure in your organization? My fun,
            fast-paced course will have your team thinking in
            parentheses in no time! Drawing on the latest education
            research to ensure long-term retention, my Beginner
            Clojure Training course will help your team:
          </p>
          <h3>Conquer the basics</h3>
          <p>
            Learn how to create, build, and run projects. Get
            comfortable with Lisp's unfamiliar syntax, and learn how
            to get work done.
          </p>
          <h3>Learn the mindset</h3>
          <p>
            Become familiar with functional programming: what it is,
            why it's useful, and how to replace imperative
            problem-solving techniques with functional ones.
          </p>
          <p>
            Functional programming is
            probably the most unfamiliar and challenging aspect of
            Clojure; by the end of the course, your team will feel
            at ease doing routine computing tasks without mutable
            variables or side effects.
          </p>
          <h3>Harness the power of Java</h3>
          <p>
            Clojure lets you seamlessly use any Java library - from
            building GUI applications to performing machine learning
            if Java can do it Clojure can do it. Your team will
            learn how to use this powerful feature.
          </p>
          <p>
            Email <a href="mailto:daniel@braveclojure.com">daniel@braveclojure.com</a>
            to secure your on-site training course!
          </p>
          <h2>Teaching Methodology</h2>
          <p>
            Training is structured to keep your team engaged, ensure
            high retention, and leave your students confident and
            prepared to create real applications. Training sessions
            alternate between lectures/demonstrations and hands-on
            work for the students. The emphasis is on hands-on work,
            where students spend time both solving exercises and
            creating real applications.
          </p>
          <p>
            The course is also designed to be <em>fun</em>. Students
            pay more attention and remember things better when they're
            enjoying themselves. Having done live improv comedy since
            2010, and numerous training events, the only thing I love
            more than getting people to laugh is getting them to laugh
            while they
            learn. See <a href="https://youtu.be/eRq5UBx6cbA?list=PLZdCLR02grLq4e8-1P2JNHBKUOLFTX3kb">my
              Clojure/West presentation on Parallel Programming</a> to
            get an idea of my presentation style.
          </p>
          <h2>About Me</h2>
          <p>
            I'm the author of Clojure for the Brave and True, one of
            the most popular resources for learning Clojure. But you
            probably already knew that :)
          </p>
          <p>
            I've been programming professionally for twelve
            years. Five of those were at McKinsey and Company, where I
            helped run <em>AppDev University</em>, an internal effort
            to train junior programmers. There, I also ran study and
            code review groups to help everyone improve as programmers.
          </p>
          <p>
            Helping programmers improve is something I absolutely love!
          </p>
          <h2>Course Outline</h2>
          <p>Your team will learn all this awesome stuff:</p>
          <ul>
            <li>Building, running, and the REPL</li>
            <li>Using a Clojure editor</li>
            <li>A Clojure Crash Course - syntax, semantics, and data types</li>
            <li>Core functions in depth</li>
            <li>Functional programming</li>
            <li>Project Organization</li>
            <li>The Clojure evaluation model</li>
            <li>Writing and debugging macros</li>
            <li>Interacting with Java</li>
            <li>Create and extend abstractions with multimethods, protocols, and records</li>
            <li>Using Leiningen</li>
          </ul>
          <p>
            I'm flexible on what gets covered in the course; if you'd
            like your team to learn web development, for example, we
            can work that out!
          </p>
          <p>
            If you have any questions or would like to secure your
            training session, please email me
            at <a href="mailto:daniel@braveclojure.com">daniel@braveclojure.com</a>. I
            only have availability for one more session in July and
            August, so don't hesitate!
          </p>
        </div>
        <div class="testimonials">
          <div class="testimonial">
            <div class="body">
              <p>Daniel's workshop takes you on a journey into the elegant
                and powerful world of Clojure.</p>
              <p>You will walk away with a sound understanding of the
                language, how to apply it, and where to go on your path to
                becoming an expert Clojurist.</p>
              <p>Daniel begins with the basics of the Clojure language and
                builds up to some of the most advanced features and
                concepts which allow you to unlock the power of the pure
                functions and immutable data structures that it
                provides.</p>
              <p>
                Much like it is often said about learning Clojure (and
                Lisp in general), this training will make you a better
                programmer.
              </p>
            </div>
            <div class="source">
              &mdash; Thomas Jeans<br /> Senior Software Engineer at Capital One
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        &copy; 2016 Daniel Higginbotham
      </div>
    </div>
    <%= render 'goog' %>
  </body>
</html>
