$home: (
  columns: 6,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home);

.clojure-atom .container {
  @include container;
}

/* media */
$iphone4: 'only screen' (min-device-width 320px) (max-device-width 480px) (orientation portrait) (-webkit-min-device-pixel-ratio 2);
$iphone5: 'only screen' (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6: 'only screen' (min-device-width 375px) (max-device-width 667px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6p: 'only screen' (min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 3) (orientation portrait);

$galaxy: 'screen' (device-width: 320px) (device-height: 640px) (orientation: portrait);

$mobile: $iphone4, $iphone5, $iphone6, $iphone6p, $galaxy;


$narrow: 0 59em;

$vnarrow: 0 40em;


.clojure-atom {
  background: $slate;
  color: white;

  .desc {
    font-family: $title-font;
    font-weight: 100;
    letter-spacing: 1px;
    max-width: 84%;
    margin: 0 auto;
  }

  .inputs {
    @include trailer;
  }

  .inputs input[type=submit] {
    font-family: $title-family;
    display: inline-block;
    padding: .25em .75em;
    border-radius: 2px;
    background: white;
    color: $slate;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
    border: none;
  }
  
  .logo {
    color: $teal;
    font-family: $title-font;
    font-weight: 100;
    @include leader(5, $ms-up1);
    @include trailer(2, $ms-up1);
    @include adjust-font-size-to($ms-up1);

    span {
      color: white;
    }
    
    img {
      //max-width: 320px;
      vertical-align: middle;
    }
  }
  

  .nav {
    font-family: $title-family;
    width: 100%;
    font-weight: 100;
    position: static;
    
    a {
      color: white;
      display: block;
      padding: .75em;
      &:hover {
        background: rgba(255,255,255,0.05);
      }
    }
  }

  .twitter {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
  }
  
  @include breakpoint($mobile) {
    
    .nav {display: none;}
    
    .brief, .sites, .footer {
      font-size: 150%;
      line-height: 150%;
    }

    input {
      font-size: 100%;
    }

    .brief {
      background: url(/assets/images/layout/cuddle-zombie-bg.png) no-repeat center center fixed;
    }

    .spiel, .menu {
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}

