.deploy-book {
  .header {
    background: #35343e;

    .container {
      @include padding-leader(2);      
    }
    
    .title {
      font-family: $title-family;
      @include adjust-font-size-to($ms-up2, 1);

      strong {
        text-transform: uppercase;
        color: white;
        @include adjust-font-size-to($ms-up4, 3, $ms-up2);
        letter-spacing: 1px;
        text-shadow: 0 2px rgba(0, 0, 0, 0.5)
      }
    }
    .subtitle {
      color: #f16060;
    }
  }
}


.note {
  background: white;
  .title {
    font-family: $title-family;
    @include adjust-font-size-to($ms-up1, 1);
    @include padding-leader(1, $ms-up1);
    @include padding-trailer(1, $ms-up1);
  }
}


.imageblock {
  @include trailer;
}
