$M: 47em;

$susy: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.container {
  @include container;
  padding: 0 2em;
}

.header .container {
  @include padding-leader(4.5);
  @include padding-trailer(1);
}

.callout {
  @include padding-leader(1);
  @include padding-trailer(1);
}

.logoy {
  
}

.fear {
  position: relative;
  top: -.08em;
}

.main {
  @include span(9);
}

.secondary {
  @include span(3 at 10 of 12);

  .ads {
    clear:both;
    @include padding-leader;
    @include trailer;
  }

  form {
    @include trailer;
  }
  
  .chapter-sections {
    color: #999;
    font-style: italic;
  }
  
  ol ol { margin-bottom: 0; }
  li a {
    display: block
  }

  .junk {
    img {
      max-height: 6em;
      float: left;
      margin-right: .5em;
    }
  }
}

.wrap {
  @include leader(2);
  @include padding-trailer(5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include leader;
  @include padding-leader;
  @include padding-trailer;
}

// sticky nav
.topnav-content {
  padding: .25em 0;
  li {
    float: left;
    margin-right: 1em;
  }
  .tweet {
    position: relative;
    top: 3px;
  }
}

#top-nav {
  @include breakpoint($M) {
    display: block;
    position: fixed;
    width: 100%;
    top: -3em;
  }
}

#top-nav-sticky-wrapper {
  display: none;
  @include breakpoint($M) {
    height: 0 !important;
    display: block;
  }
  &.is-sticky {
    #top-nav {
      @include breakpoint($M) {
        height: 2.25em !important;
        top: 0;
        display: block;
      }
    }
  }
}

.chapter-nav .sticky-wrapper {
  height: auto !important;
  width: auto !important;

  .wrapper {
    height: auto !important;
    @include leader(1);
    @include breakpoint($M) {
      margin-top: 0;
    }
  }
}

.chapter-nav .sticky-wrapper.is-sticky .wrapper {
  position: static !important;
  top: 0 !important;
  margin-right: 2em;
  
  @include breakpoint($M) {
    position: fixed !important;
    top: 60px !important;
    bottom: 0;
    overflow-y: auto;
  }
}

.listingblock {
  @include trailer;
  .pygments {
    @include padding-leader(.5);
    @include padding-trailer(.5);
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

ol ol {
  margin-left: 1em;
}

.caption {
  @include trailer;
}

blockquote {
  @include trailer;
  @include padding-leader(.5);
  @include padding-trailer(.5);
  padding-left: .75em;
  padding-right: .75em;
  p:last-child {
    margin-bottom: 0;
  }
  .paragraph {
    @include trailer;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

table {
  @include trailer;
}

img.figure {
  display: block;
  margin: 0 auto;
  @include trailer;
}

div.figure {
  text-align: center;
}

dt {
  font-style: italic;
  font-weight: bold;
}
dd {
  margin-left: 1em;
  @include trailer;
}

.chapter-nav {
  clear: both;
  @include trailer;
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .next, .prev {
    font-style: italic;
  }
  
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
}

.sticky-wrapper.is-sticky  .wrapper {
  bottom: 0;
  overflow-y: auto;
  z-index: 0;
}

.Text-Box {
  padding: 1.5em 1em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.nav {
  position: absolute;
  top: 0;
  z-index: 1;
  font-family: $title-family;
  width: 100%;
  font-weight: 100;
  
  a {
    color: white;
    display: block;
    padding: .75em;
    &:hover {
      background: rgba(255,255,255,0.05);
      color: white;
    }
  }

  li {
    float: left;
  }
}
