$home: (
  columns: 6,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home);

.new-home .content .container {
  @include container;
}


$home-hero: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home-hero);


/* media */
$iphone4: 'only screen' (min-device-width 320px) (max-device-width 480px) (orientation portrait) (-webkit-min-device-pixel-ratio 2);
$iphone5: 'only screen' (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6: 'only screen' (min-device-width 375px) (max-device-width 667px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6p: 'only screen' (min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 3) (orientation portrait);

$galaxy: 'screen' (device-width: 320px) (device-height: 640px) (orientation: portrait);

$mobile: $iphone4, $iphone5, $iphone6, $iphone6p, $galaxy;


$narrow: 0 59em;

$vnarrow: 0 40em;


.new-home {
  @include padding-trailer(3);
  
  .container {
    @include container;
  }

  .nav {
    position: absolute;
    top: 0;
    z-index: 1;
    font-family: $title-family;
    width: 100%;
    font-weight: 100;
    
    a {
      color: white;
      display: block;
      padding: .75em;
      &:hover {
        background: rgba(255,255,255,0.05);
      }
    }

    li {
      float: left;
    }
  }

  .wrap {
    background: #464d57 url(/assets/images/layout/hamster-bg.png) no-repeat right bottom;
    background-size: 400px;
    margin-top: 0;
    position: relative;
    // border-bottom: .25em solid rgba(0,0,0,0.3);
    @include padding-leader(5);
    @include padding-trailer(5);
  }

  .hero {
    @include container;
    font-family: $title-family;

    color: white;
    text-align: center;

    .title {
      font-weight: bold;
      text-shadow: 0 4px rgba(0,0,0,0.3);
      letter-spacing: 4px;
      text-transform: uppercase;
      @include adjust-font-size-to($ms-up5, 2);
    }

    .tagline {
      font-weight: 100;
      letter-spacing: 3px;
      text-transform: uppercase;
      @include adjust-font-size-to($ms-up2);
    }
  }


  .logo {
    position: absolute;
    bottom: -100px;
    max-width: 200px;
    left: 50%;
    img {
      position: relative;
      left: -50%;
    }
    //right: 50%;
  }

  .brief {
    background: url(/assets/images/layout/cuddle-zombie-bg.png) no-repeat center top fixed;
    @include padding-leader(4);
    @include padding-trailer(1);
    //@include adjust-font-size-to($ms-up1);
    //background: url(/assets/images/layout/skulls.png);
    //font-family: $sans-family;

    h2 {
      margin-bottom: 0;
      margin-top: 0;
      font-weight: normal;
      font-style: italic;
      color: $teal;
      color: $hot;
      @include adjust-font-size-to($ms-up2, 2);
    }
  }

  .spiel {
    @include span(6);
  }

  .menu {
    @include span(6 of 12 at 7);
    margin-top: 2.25em;
    background: white;
    padding: .75em 1em;
    box-sizing: border-box;
    box-shadow: 0 2px rgba(0,0,0,0.1);
    
    ul {
      color: rgba(0,0,0,0.2);
      padding-left: 1em;
    }
    li {
      //border-bottom: 1px solid rgba(0,0,0,0.1);
      //background: rgba(0,0,0,0.1);
      font-family: $title-family;
      font-weight: 100;
      list-style: disc;
      //text-decoration: underline;
    }
  }


  .sites {
    background: $teal url(/assets/images/layout/point-bg.png) no-repeat bottom right fixed;
    @include padding-leader(2);
    @include padding-trailer(2);

    h2 {
      //@include adjust-font-size-to($ms-up1, 1);
      font-weight: normal;
      margin: 0;
      padding: 0;
      color: $hot;
    }

    .container > div {
      background: white;
      position: relative;
      @include trailer;
    }
  }

  .site-text {
    padding: 1.5em;
    box-sizing: border-box;

    &.left {
      @include span(6 of 12);
    }
    &.right {
      @include span(6 of 12 at 7);
    }
  }

  .screen {
    background: $slate;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;

    a {
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 2em;
      width: 100%;
    }
    
    img {
      max-height: 100%;
    }
    &.left {
      left: 0;
      right: 50%;
    }
    &.right {
      left: 50%;
      right: 0;
    }
  }

  .header {
    padding: 0;
    position: relative;
    height: 216px;

    .container {
      background: $color-a;
    }

    .images {
      position: absolute;
      bottom: 0;
      height: 188px;
    }
  }

  .jobs, .open-source {
    min-height: 21em;
  }

  h1 {
    color: $orange;
  }

  .buy {
    text-align: center;


    a {
      display: inline-block;
      background: $orange;
      color: $paper;
      padding: .25em .5em;
      border-radius: 2px;
      font-family: $title-family;
      &:hover {
        background: $plum;
      }
    }
  }

  .twitter {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
  }

  .quests input[type=email] {
    background: #eee;
  }
  .quests input[type=submit] {
    font-family: $title-family;
    display: inline-block;
    padding: .25em .75em;
    border-radius: 2px;
    background: $hot;
    color: white;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
    border: none;
  }

  .callout, .ads {
    input[type=submit] {
      font-size: $base-font-size;
      border-radius: 2px;
      border: none;
      padding: 0 .25em;
      display: inline-block;
    }
  }

  .ads input[type=submit] {
    font-size: 85%;
  }
  @include breakpoint($mobile) {
   
  .nav {display: none;}
  
  .brief, .sites, .footer {
    font-size: 150%;
    line-height: 150%;
  }

  input {
    font-size: 100%;
  }

  .brief {
    background: url(/assets/images/layout/cuddle-zombie-bg.png) no-repeat center center fixed;
  }

  .spiel, .menu {
    width: 100%;
    float: none;
    margin: 0;
  }

  .sites {
    .site-text {
      padding: 1.5em;
      box-sizing: border-box;

      &.left, &.right {
        width: 100%;
        float: none;
        margin: 0;
      }
    }

    .screen {
      background: $slate;
      position: inherit;
      text-align: center;

      a {
        display: block;
        box-sizing: border-box;
        position: inherit;
        top: inherit;
        transform: none;
        padding: 2em;
        width: 100%;
      }
      
      img {
        max-height: 100%;
      }
      &.left, &.right {
        left: inherit;
        right: inherit;
        float: none;
      }
    }
  }
  }
}

