.reducers-book {
  .header {
    background: #35343e;

    .container {
      @include padding-leader(2);      
    }
    
    .title {
      font-family: $title-family;
      @include adjust-font-size-to($ms-up2, 1);

      a { color: #f16060; }

      strong {
        text-transform: uppercase;
        color: white;
        @include adjust-font-size-to($ms-up3, 3, $ms-up2);
        letter-spacing: 1px;
        text-shadow: 0 2px rgba(0, 0, 0, 0.5)
      }
    }
    .subtitle {
      color: #f16060;
    }
  }
}


.note {
  background: white;
  .title {
    font-family: $title-family;
    @include adjust-font-size-to($ms-up1, 1);
    @include padding-leader(1, $ms-up1);
    @include padding-trailer(1, $ms-up1);
  }
}


.imageblock {
  @include trailer;

  .title {
    @include adjust-font-size-to($ms-down1);
    font-style: italic;
    text-align: center;
  }
}


.listingblock .title {
  font-style: italic;
  color: #666;
  @include adjust-font-size-to($ms-down1);
}




$home: (
  columns: 6,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home);

.deploy.landing .content .container {
  @include container;
}



.reducers-book .buy {
  background: #f2f0db;
  @include padding-leader(1.5);
  @include padding-trailer(1.5);

  .hero {
    width: 80%;
    margin: 0 auto;
  }
  
  .cover {
    @include span(3 at 10 of 12);
    
  }

  .hype {
    @include span(9 of 12);
    padding-top: 0;
  }

  img {
    border: 10px solid #ddd;
  }



  .header {
    padding: 0;
    position: relative;
    height: 2em;
    background: $slate;

    .container {
      background: $slate;
    }

    .images {
      position: absolute;
      bottom: 0;
      height: 188px;
    }
  }

  h1 {
    color: $orange;
  }

  .buy {
    text-align: center;
    clear:both;

    a {
      display: inline-block;
      background: $orange;
      color: $paper;
      padding: .25em .5em;
      border-radius: 2px;
      font-family: $title-family;
      &:hover {
        background: $plum;
      }
    }
  }
}
