body {
  background: $paper;
  color: $charcoal;
}

a {
  text-decoration: none;
  color: $color-c;

  &:hover {
    color: $dark-teal;
    cursor: pointer;
  }
}

.logoy {
  text-align: left;  
}

.header {
  background: $color-a;
  text-align: left;
  box-sizing: border-box;
  //border-bottom: 2px solid rgba(0,0,0,0.5);
}

.header .container {
  background: url("/assets/images/layout/bt-mid.png") no-repeat 100% 100%
}

.secondary ol {
  margin-left: 1em;
  list-style: disc;
  color: rgba(0,0,0,0.1);
}


img {
  max-width: 100%;
}

.callout {
  background: $slate;
  color: rgba(255,255,255,0.8);
  box-sizing: border-box;
  p {
    margin-bottom:0;
  }
}
.callout a, .callout input[type=submit], .ads input[type=submit] {
  font-size: 17px;
  line-height: 1.45em;
  display: inline-block;
  padding: 2px .25em 0;
  border-radius: 2px;
  background: $lighto;
  color: $charcoal;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.3);
  font-family: $title-family;
}

.callout, .ads {
  input[type=submit] {
    font-size: $base-font-size;
    border-radius: 2px;
    border: none;
    padding: 0 .25em;
    display: inline-block;
  }
}

.ads input[type=submit] {
  font-size: 85%;
}

.ads {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

input {
  font-size: 15px;
}

input[type=email] {
  display: inline-block;
  padding: .25em;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

// topnav
#top-nav {
  transition: .25s ease-in-out all;
}

.pygments {
  overflow-x: auto;
}

.main {
  ul {
    list-style: initial;
  }

  ul, ol {
    @include trailer;
    li {
      margin-left: 1.2em;
    }
  }
}

blockquote {
  background: rgba(255,255,255, 0.8);
  border-radius: 2px;
}

table {
  border-top: 1px solid #e8e7de;
  th {
    font-weight: bold;
  }
  td, th {
    border-bottom: 1px solid #e8e7de;
    border-right: 1px solid #e8e7de;
    padding: 0 1em;
  }
  td:first-child {
    white-space: nowrap;
  }
  th:last-child, td:last-child {
    border-right: none;
  }
}

.footer {
  background: $slate;
  color: white;
}

.Listing {
  font-style: italic;
  list-style: none;
  text-align: center;
}

.Text-Box {
  background: #fff;
  .HeadBox {
    font-weight: bold;
  }
}

.sidebarblock {
  background: white;
  padding: .75em 1em;
  @include trailer;

  .title {
    @include adjust-font-size-to($ms-up1);
    text-align: center;
    font-weight: bold;
    font-family: $title-family;
  }
}
