body, input[type=email] {
  @include serif-family;
}

h1, h2, h3, h4 {
  @include sans-family;
}

h1 {
  @include adjust-font-size-to($h1, 1);
}

h2 {
  @include adjust-font-size-to($h2, 1);
}

h3, h4 {
  @include adjust-font-size-to($h3, 1);
}

a {
  color: $alt-color;
  &:visited {
    color: $alt-color;
  }
  &:hover {
    color: $tri-color;
  }
}

em {
  font-style: italic;
}

small {
  font-size: 75%;
}

input {
  font-size: 16px;
}

input[type=email] {
  padding: .25em .125em;
}

input[type=submit] {
  background: #ffd0c6;
  border-radius: 2px;
  border: none;
  padding: .4em;
  display: inline-block;
}

.masthead {
  background: $main-color url(/images/ui/hamster.png) no-repeat 80% top;
  border-top: 1em solid $main-color-accent;
}

.title {
  @include adjust-font-size-to(60px, 2);
  font-family: "Fjalla One";
  font-weight: 400;
  color: white;
  span {
    font-weight: 400;
    color: $main-color-accent;
    @include adjust-font-size-to(36px, 1, 60px);
  }
  a, a:hover, a:visited {
    color: white;
    span {
      color: $main-color-accent;
    }
  }
}
.subtitle {
  @include adjust-font-size-to(20px, 1);
  font-family: "Courgette";
  font-weight: 300;
  color: $main-color-accent;
}

.lambda {
  @include adjust-font-size-to(20px, 1);
  background: $main-color-accent;
  color: white;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
}

.buy {
  padding: 0.5em .75em;
  display: inline-block;
  color: white;
  background: $tri-color;
  border-radius: 3px;
  &:visited {
    color: white;
  }
}

.engage-me-please {
  background: $main-color-light;
  border-top: .18em solid $main-color-accent;
  border-bottom: .18em solid $main-color-accent;
}

.content {
  ul li {
    list-style: disc;
  }

  ol>li {
    list-style: decimal;
  }
}

.mono, pre, tt {
  @include monospace-family;
  font-size: 16px;
  line-height: 1.25em;
}

code {
  @include monospace-family;
  background: $main-color-light;
  font-size: 16px;
}

.code {
  overflow-y: auto;
}


.twitter-share-button {
  margin-top: 2px;
}

.chapter-nav {
  @include adjust-font-size-to(16px);
  bottom: 1em;
  input[type=email]{
    width: 100%;
    border: none;
    font-size: 20px;
    padding: .4em;
  }
  input[type=submit]{
    border-radius: 2px;
    background: #fafafa;
  }
  
  .buy {
    background: #70b1dc;
    @include trailer;
  }
  ol a {
    color: #666;
    display: block;
    &:hover {
      color: $tri-color;
    }
  }
}


#top-nav {
  background: $main-color-light;
  border-bottom: .18em solid $main-color-accent;
  transition: .25s ease-in-out all;
  font-family: "Fjalla One";

  li {
    float: left;
    margin-right: 1em;
  }

  .pages {
    
  }

  .chapters {
    float: right;
    select {
      background: #ffd0c6;
      font-size: 16px;
      border: none;
      font-family: "Fjalla One";
      height: 1.8em;
    }
  }

  .home {
    font-weight: 300;
    color: black;
    float: right;

    a {
      color: black;
      &:hover {
        color: $tri-color;
      }
    }
  }

  .buy {
    padding: 0 .75em;
    background: $alt-color;
    margin: 0;
    @include adjust-font-size-to(16px);
  }
  .tweet {
    position: relative;
    top: 1px;
  }

  input {
    font-family: "Fjalla One";
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: .25em;
  }
}

table {
  border-top: 1px solid #eee;
  thead {
    display: none;
  }
  td {
    border-bottom: 1px solid #eee;
  }
  td:first-child {
    @include monospace-family;
    white-space: pre;
    padding: 0 1em;
    border-right: 1px solid #eee;
  }
  td:last-child {
    padding: 0 1em;
  }
}

blockquote {
  background: #fde6e1;
  border-left: 2px solid $orange;
  font-style: italic;
}