$home: (
  columns: 6,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home);

.training .content .container {
  @include container;
}


$home-hero: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home-hero);


/* media */
$iphone4: 'only screen' (min-device-width 320px) (max-device-width 480px) (orientation portrait) (-webkit-min-device-pixel-ratio 2);
$iphone5: 'only screen' (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6: 'only screen' (min-device-width 375px) (max-device-width 667px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6p: 'only screen' (min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 3) (orientation portrait);

$galaxy: 'screen' (device-width: 320px) (device-height: 640px) (orientation: portrait);

$mobile: $iphone4, $iphone5, $iphone6, $iphone6p, $galaxy;


$narrow: 0 59em;

$vnarrow: 0 40em;


.training {
  @include padding-trailer(3);
  
  .container {
    @include container;
  }

  .nav {
    position: absolute;
    top: 0;
    z-index: 1;
    font-family: $title-family;
    width: 100%;
    font-weight: 100;
    
    a {
      color: white;
      display: block;
      padding: .75em;
      &:hover {
        background: rgba(255,255,255,0.05);
      }
    }

    li {
      float: left;
    }
  }

  .wrap {
    background: #464d57 url(/assets/images/layout/hamster-bg.png) no-repeat right bottom;
    background-size: 400px;
    margin-top: 0;
    position: relative;
    // border-bottom: .25em solid rgba(0,0,0,0.3);
    @include padding-leader(5);
    @include padding-trailer(5);
  }

  .hero {
    @include container;
    font-family: $title-family;

    color: white;
    text-align: center;

    .title {
      font-weight: bold;
      text-shadow: 0 4px rgba(0,0,0,0.3);
      letter-spacing: 4px;
      text-transform: uppercase;
      @include adjust-font-size-to($ms-up5, 2);
    }

    .tagline {
      font-weight: 100;
      letter-spacing: 3px;
      text-transform: uppercase;
      @include adjust-font-size-to($ms-up2);
    }
  }


  .logo {
    position: absolute;
    bottom: -100px;
    max-width: 200px;
    left: 50%;
    img {
      position: relative;
      left: -50%;
    }
    //right: 50%;
  }

  .brief {
    @include padding-leader(4);
    @include padding-trailer(1);

    .alert {
      @include leader;
      background: white;
      padding: .75em;
      //font-style: italic;
      a {
        //color: $charcoal;
        //text-decoration: underline;
        &:hover {
          //color: white;
        }
      }
    }

    h2 {
      margin-bottom: 0;
      margin-top: 0;
      font-weight: normal;
      font-style: italic;
      color: $teal;
      color: $hot;
      @include adjust-font-size-to($ms-up2, 2);
    }

    h3 {
      margin-top: 0;
      font-style: italic;
    }
    .container {
      max-width: 44em;
    }
  }

  .spiel {
    @include span(4 of 6);
    margin: 0 auto;
    ul {
      @include trailer;
      li {
        list-style: disc;
        margin-left: 1em;
      }
    }
  }

  .testimonials {
    @include span(2 of 6 at 5);
    @include leader(3);
    background: rgba(0,0,0,0.02);
    padding: .75em;
    box-sizing: border-box;
    font-style: italic;
    .source {
      font-style: normal;
    }
  }

  .twitter {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
  }
  
  @include breakpoint($mobile) {
    
    .nav {display: none;}
    
    .brief, .sites, .footer {
      font-size: 150%;
      line-height: 150%;
    }

    input {
      font-size: 100%;
    }

    .brief {
      background: url(/assets/images/layout/cuddle-zombie-bg.png) no-repeat center center fixed;
    }

    .spiel, .menu {
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}

