// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";

@import "susy"; // grid

// Grid variables
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$base-line-height: 27px;
$total-columns: 12;             // a 12-column grid

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

@mixin monospace-family {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

// Colors
$purple: #767fa8;
$light-purple-bg: #eeeff4;
$dark-teal: #b5c5cf;
$light-teal: #daedf9;
$light-teal-bg: #f3fafe;
$light-green-bg: #eef4f1;
$blue: #69b5e4;

// To customize vertical ryhthm, see http://compass-style.org/reference/compass/typography/vertical_rhythm/
@include establish-baseline;


// actual css customization
.mono {
  @include monospace-family;
}

body {
  @include serif-family;
  background:url("../assets/images/ui/light_noise_diagonal.png");
  font-size:16px;
}

h1 {
  @include adjust-font-size-to(40px, 1);
  @include trailer(1, 40px);
}


p {
  @include leader;
  @include trailer;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #7694a8;
  &:hover { text-decoration: underline; }
  &:visited { color: #8976a8; }
}

pre, code, tt {
  @extend .mono;
}

pre {
  @include trailer;
  @include leader;
  @include padding-trailer(.5);
  @include padding-leader(.5);
}

code {
  background: #f3f3f3;
  font-size: 14px;
}

.code {
  background: #f9f9f9;
  line-height:1.25em;
  font-size: 14px;
}


.content {
  li {
    margin-left: 1.2em;
  }

  ul li {
    list-style: disc;
  }

  ol>li {
    list-style: decimal;
  }

  img {
    max-width:
    44em;
  }
}

header, footer { clear: both; }
header {
  @include sans-family;
  @include border-radius(0 0 1em 1em);
  @include container;
  @include pre(3, 12);
  margin-left:15em;
  .name {
    @include adjust-font-size-to(60px);
    color: $purple;
    font-weight:bold;
    text-align: left;

    .subname {
      color: $blue;
      display:inline;
    }
  }
}

nav {
  @include span-columns(3,12);
  position: fixed;
  width: 13.75em;
  top: 0;
  bottom: 0;
  overflow: auto;
  margin-left:-1em;
  padding-left: 1em;
  padding-top:1em;
  background: $light-purple-bg;
  border-right: 0.25em solid $light-teal;

  h2 {
    @include adjust-font-size-to(20px, 1);
  }

  a:hover {
    text-decoration:none;
  }

  #toc > ol {
    margin-left:-1em;

    li {
      display:block;
      a {
        padding: 0 16px;
        @include adjust-font-size-to(20px, 1);
        @include padding-trailer(.5, 20px);
        @include padding-leader(.5, 20px);
        display: block;
        color: #333;
        
        &:visited {
          color:black
        }
      }
    }
    
    > li.active-section > a, > li > a:hover {
      background: $light-teal;
    }

    >li li a {
      display: block;
      padding: 0 1em;
      @include adjust-font-size-to(14px);
      @include padding-trailer(.25, 14px);
      @include padding-leader(.25, 14px);
    }
    
    // Sub navigation, e.g. 2.3 Susy
    ol {
      a:hover, li.active > a {
        background:white;
      }

      ol {
        a { padding-left:2em; }
        // Even more nested nav, e.g. 2.3.1. Installation instructions
        ol {
          a { padding-left: 3em; }
        }
      }
    }
  }

  #search {
    input {
      padding: 3px 0;
      @include adjust-font-size-to(16px);
      @include serif-family;
      width: 95%;
    }
    @include trailer(.5);
  }
}

.page {
  // page acts as a container for our grid.
  @include container;
  @include padding-trailer;
  @include trailer;
  @include padding-leader;
  @include border-radius(0 1em 1em 0);
  background: white;

  margin-left: 0;

  .content {
    @include span-columns(9 omega,12);
    
    h2 {
      @include adjust-font-size-to(32px, 2);
      @include leader(1, 32px);
      @include trailer(1, 32px);
      border-left: 8px solid $purple;
      padding-left: 8px;
      margin-left: -16px;
    }

    h3 {
      @include adjust-font-size-to(24px, 1);
      @include leader(1, 24px);
      @include trailer(1, 24px);
      border-left: 4px solid $dark-teal;
      padding-left: 12px;
      margin-left: -16px;
    }

    h4 {
      font-weight:bold;
      @include leader;
      border-left: 2px solid $dark-teal;
      padding-left: 14px;
      margin-left: -16px;
    }
  }
}

// Tipue search
#tipue_search_content_title {
  @include leader;
}