@import "compass-setup";
@import "meyer-reset";
@import "susy";
@import "breakpoint";

$charcoal: #46453f;
$plum:   #4b3d42;
$orange: #EA6C4B;
$gold:   #c8ca9e;
$salmon: #e28f83;
$dark-salmon: #dd7c6e;
$lighto: #f9ebe0;
$paper:  #f9f8ee;
$teal:   #77c4d3;
$dark-teal: #6bac9c;

$hot: #fd7f6a;

$light-blue: #93c9d3;
$mid-blue: #4ba4b5;

$green: #79bd8f;


$color-a: $teal;
$color-b: $light-blue;
$color-c: $mid-blue;

@import "type";
@import "layout";
@import "theme";

@import "home";
@import "new";