// grid variables -----------------------------------------------------
$total-columns: 8;             // a 12-column grid

@import "_base.scss";


h2 {
  @include adjust-font-size-to(30px, 1);
  @include leader(1, 30px);
}

h2:first-child {
  margin-top:0;
}
