.code.pygments .hll { background-color: #ffffcc }
.code.pygments  { border-left: 2px solid #eee; padding-left: 8px; margin-left: -10px; }
.code.pygments .c { color: #008800; font-style: italic } /* Comment */
.code.pygments .err { border: 1px solid #FF0000 } /* Error */
.code.pygments .k { color: #AA22FF; font-weight: bold } /* Keyword */
.code.pygments .o { color: #666666 } /* Operator */
.code.pygments .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code.pygments .cp { color: #008800 } /* Comment.Preproc */
.code.pygments .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code.pygments .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code.pygments .gd { color: #A00000 } /* Generic.Deleted */
.code.pygments .ge { font-style: italic } /* Generic.Emph */
.code.pygments .gr { color: #FF0000 } /* Generic.Error */
.code.pygments .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code.pygments .gi { color: #00A000 } /* Generic.Inserted */
.code.pygments .go { color: #808080 } /* Generic.Output */
.code.pygments .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code.pygments .gs { font-weight: bold } /* Generic.Strong */
.code.pygments .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code.pygments .gt { color: #0040D0 } /* Generic.Traceback */
.code.pygments .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.code.pygments .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.code.pygments .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.code.pygments .kp { color: #AA22FF } /* Keyword.Pseudo */
.code.pygments .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.code.pygments .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.code.pygments .m { color: #666666 } /* Literal.Number */
.code.pygments .s { color: #BB4444 } /* Literal.String */
.code.pygments .na { color: #BB4444 } /* Name.Attribute */
.code.pygments .nb { color: #AA22FF } /* Name.Builtin */
.code.pygments .nc { color: #0000FF } /* Name.Class */
.code.pygments .no { color: #880000 } /* Name.Constant */
.code.pygments .nd { color: #AA22FF } /* Name.Decorator */
.code.pygments .ni { color: #999999; font-weight: bold } /* Name.Entity */
.code.pygments .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code.pygments .nf { color: #00A000 } /* Name.Function */
.code.pygments .nl { color: #A0A000 } /* Name.Label */
.code.pygments .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.code.pygments .nt { color: #008000; font-weight: bold } /* Name.Tag */
.code.pygments .nv { color: #B8860B } /* Name.Variable */
.code.pygments .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.code.pygments .w { color: #bbbbbb } /* Text.Whitespace */
.code.pygments .mf { color: #666666 } /* Literal.Number.Float */
.code.pygments .mh { color: #666666 } /* Literal.Number.Hex */
.code.pygments .mi { color: #666666 } /* Literal.Number.Integer */
.code.pygments .mo { color: #666666 } /* Literal.Number.Oct */
.code.pygments .sb { color: #BB4444 } /* Literal.String.Backtick */
.code.pygments .sc { color: #BB4444 } /* Literal.String.Char */
.code.pygments .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.code.pygments .s2 { color: #BB4444 } /* Literal.String.Double */
.code.pygments .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.code.pygments .sh { color: #BB4444 } /* Literal.String.Heredoc */
.code.pygments .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.code.pygments .sx { color: #008000 } /* Literal.String.Other */
.code.pygments .sr { color: #BB6688 } /* Literal.String.Regex */
.code.pygments .s1 { color: #BB4444 } /* Literal.String.Single */
.code.pygments .ss { color: #B8860B } /* Literal.String.Symbol */
.code.pygments .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.code.pygments .vc { color: #B8860B } /* Name.Variable.Class */
.code.pygments .vg { color: #B8860B } /* Name.Variable.Global */
.code.pygments .vi { color: #B8860B } /* Name.Variable.Instance */
.code.pygments .il { color: #666666 } /* Literal.Number.Integer.Long */
