---
full_title: "The Clojure Atom: High-Quality Bi-Weekly Links"
---

<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body class="clojure-atom">
    <div class="container">
      <div class="nav">
        <ul>
          <li><a href="/">Back to Brave Clojure</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="logo">
        <img src="/assets/images/email/clojure-atom/clojure-atom-logo-text.png" alt=""  vertical-align="middle"/>
      </div>
      <div class="desc">
        <form action="//braveclojure.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;id=9232ef71ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <p>
            <em>The Clojure Atom</em> is a bi-weekly email of a single
            link to a resource with rich explanations of concepts
            relevant to the aspiring Clojure programmer, selected by
            <em><a href="/clojure-for-the-brave-and-true"> Clojure for
                the Brave and True
            </a></em> author Daniel
            Higginbotham. Launching in July.
          </p>
          <div class="inputs">
              <input class="email" id="mce-EMAIL" name="EMAIL" placeholder="email address" required="" type="email" value="">
              <input class="button" id="mc-embedded-subscribe"
                     name="subscribe" type="submit" value="sign up">
          </div>
          <p>
            If you have suggestions for resources you'd like to see
            featured, please email
            them <a href="mailto:daniel@braveclojure.com">daniel@braveclojure.com</a>
          </p>
        </form>
      </div>
    </div>      
    <%= render 'goog' %>
  </body>
</html>
