!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title #{@item[:title]}
    %link{:href => "/stylesheets/documentation.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/pygments.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    / you don't need to keep this, but it's cool for stats!
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
  %body{"data-spy" => "scroll", "data-target" => ".secondary"}
    %header{:role => "banner"}
      .name
        Doc
        .subname Template
      
      %nav
        %form#search{:action => "/search/"}
          %input#tipue_search_input{:name => "q", :type => "search", :placeholder => "Search"}
        %ul
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/whoops-server"} Whoops Server
          %li
            %a{:href => "/whoops-logger"} Whoops Logger

    .page
      .content
        .main= yield
        .secondary
          #toc.nav
    %script{ :src => "http://code.jquery.com/jquery-1.7.2.min.js" }
    %script{ :src => "/javascripts/underscore.js" }
    %script{ :src => "/javascripts/scrollspy.js" }
    - # %script{ :src => "/javascripts/jqtoc.js" }
    %script{ :src => "/javascripts/application.js" }
