!!!
- @items = chapters
- count = @items.size
- index = @items.index(@item)
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:path => @item.path}
    %base{:href => "/"}/
    %title
      Learn to Program the World's Most Bodacious Language with Clojure for the Brave and True
    %link{:href => relative_path_to("/stylesheets/main.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => relative_path_to("/stylesheets/pygments.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => 'http://fonts.googleapis.com/css?family=Oswald:400,300|Gentium+Book+Basic:400,700|Fjalla+One|Courgette', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %header
      .container
        .title
          %a{:href => "/"}
            CLOJURE<span> for the </span>BRAVE<span> and </span>TRUE
        .subtitle
          %span learn the ultimate language, become a better programmer
      .lambda
        λ
    .engage-me-please
      .container
        //%a.buy{:href => "https://leanpub.com/clojure-for-the-brave-and-true/"} Buy the DRM-free PDF, epub, and mobi!
        %form#mc-embedded-subscribe-form.validate{:action => "http://flyingmachinestudios.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;id=0b40ffd1e1", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          %p
            Spending your nights pining for the next chapter of
            <em>Clojure for the Brave and True</em>?
            %br/
            Then follow
            %a{:href => "https://twitter.com/nonrecursive"} @nonrecursive
            or get email updates:
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
            %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "get updates!"}/
    #top-nav        
    .page.container              
      .content
        = find_and_preserve(yield)
        .pagenav.bottom
          - if index
            - if index != 0
              - i = @items[index - 1]
              .prev
                %a{:href => relative_path_to(i)}
                  &larr;
                  = i[:link_title]
            - if i = @items[index + 1]
              .next
                %a{:href => relative_path_to(i)}
                  = i[:link_title]
                  &rarr;          
        #disqus_thread
        :javascript
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'clojureforthebraveandtrue'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      .chapter-nav
        .wrapper
          %h4 Chapters
          %ol
            %li
              %a{:href => "/getting-started/"} Building, Running, and The REPL
            %li
              %a{:href => "/basic-emacs/"} Start Using Emacs
            %li
              %a{:href => "/using-emacs-with-clojure/"} Using Emacs with Clojure
            %li
              %a{:href => "/do-things/"} Do Things
            %li
              %a{:href => "/core-functions-in-depth/"} Core Functions in Depth
            %li
              %a{:href => "/functional-programming/"} Functional Programming
            %li
              %a{:href => "/organization/"} Organizing Your Project: a Librarian's Tale
            %li
              %a{:href => "/read-and-eval/"} Clojure Alchemy: Reading, Evaluation, and Macros
            %li
              %a{:href => "/writing-macros/"} Writing Macros
            %li
              %a{:href => "/concurrency/"} Concurrency, Parallelism, and State. And Zombies.
            %li
              %a{:href => "/core-async/"} Master Concurrent Processes with core.async
            %li
              %a{:href => "/java/"} Interacting with Java
            %li
              %a{:href => "/upcoming/"} Upcoming
            %li
              %a{:href => "/resources/"} Other Resources
            %li
              %a{:href => "/about/"} About the Author

    .topnav-content.container
      %ul
        %li.home
          - if index
            - if index != 0
              - i = @items[index - 1]
              
              %a{:href => relative_path_to(i)}
                &larr;
            %a{:href => "/#toc"} &uarr;
            - if i = @items[index + 1]
              %a{:href => relative_path_to(i)}
                &rarr;
        %li.chapters
          %form#search{:action => "/search/"}
            %input#tipue_search_input{:name => "q", :type => "search", :placeholder => "search site"}
        //%li
        //  %a.buy{:href => "https://leanpub.com/clojure-for-the-brave-and-true/"} buy the ebook!!?!
        %li.subscribe
          %form#mc-embedded-subscribe-form.validate{:action => "http://flyingmachinestudios.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;amp;id=0b40ffd1e1", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
            %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "get email updates"}/
        %li.tweet
          %a.twitter-share-button{:href => "https://twitter.com/share"} tweet bravely and truly
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')

    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:src => relative_path_to("/javascripts/jquery.sticky.js")}
    %script{:src => relative_path_to("/javascripts/sticky.js")}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43463851-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

