<% index = chapters(@item).index(@item)%>
<!DOCTYPE HTML>
<html lang="en">
  <%= render 'deploy_head' %>
  <body class="reducers-book">
    <%= render 'main-nav' %>
    <div class="header">
      <div class="logoy">
        <div class="container">
          <div class="subtitle">
            the palmco employee guide to
          </div>
          <div class="title">
            <a href="/quests/reducers/intro">
              <strong>Parallel Programming</strong> in <strong>Clojure</strong> with <strong>Reducers</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="callout">
      <div class="container">
        <form action="http://flyingmachinestudios.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;amp;id=0b40ffd1e1" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
          <p>
            Follow
            <a href="https://twitter.com/nonrecursive">@nonrecursive</a>
            to hear about new content
            or subscribe:
            <input class="email" id="mce-EMAIL" name="EMAIL" placeholder="email address" required="" type="email" value="">
            <input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="get updates!">
          </p>
        </form>
      </div>
    </div>
    <div class="buy">
      <div class="container">
      <div class="hero">
        <h1>Buy the (beta) ebook!?</h1>
        <div class="hype">
          <p>
            Hello, brave and true reader!
          </p>
          <p>
            Someone recently informed that it's not completely
            crazypants to try to try to make a reasonable amount of
            money off the Clojure content I've been producing, so this
            time around I'm trying something different.
          </p>
          <p>
            For this book on parallel programming, I'm releasing the
            <a href="/quests/reducers/intro">Introduction</a> and
            <a href="/quests/reducers/know-your-reducers">Part 1</a>
            for free (I guess I haven't really absorbed the
            lesson?). Part 1 will teach you how to use reducers. If
            you want Parts 2 and 3, you'll need to buy the (beta)
            ebook.
          </p>
          <h3>Why should you pay for this?</h3>
          <p>
            <strong>Parts 2 and 3 are where are the awesome
            is.</strong>

            One of the reasons you love Clojure is that it makes
            advanced (but relevant) programming concepts and
            techniques accessible. It is <em>mentally stimulating</em>
            and <em>fun</em> and <em>actually useful</em>. In Parts 2 and
            3, you will explore exciting new programming
            vistas. Recall how you felt learning about Clojure's state
            model, or learning about programming with pure
            functions. You'll get that sense of <em>wow!</em>
            and <em>holy schnitzel, that's amazing!</em> in the paid
            parts of the book.
          </p>
          <p>
            Parallel programming has become more and more relevant
            because of the inexorable lurch toward multi-core
            processors. You'll learn about parallel programming
            concepts and techniques in Part 2, adding
            an <strong>invaluable tool</strong> to your mental
            toolkit. These ideas are universal; you can apply them
            outside Clojure.
          </p>
          <p>
            In Part 3 (unreleased; still in progress), you'll look at
            how the reducers library is implemented, and in the
            process explore some <strong>grade-A functional
            programming voodoo</strong>. You'll also see
            how <em>protocols</em> and <em>reification</em> in Clojure
            can be put to heart-breakingly elegant use. Once I release
            Part 3, I'll send you an email and you'll be able to
            download an update. I plan on releasing Part 3 within
            four months. The book is currently about 68 pages, and I
            plan on adding 50-70 more.
          </p>
          <p>
            Writing this stuff is a ton of work, and if you like what
            you read, want to learn more, and want to help me finish
            this book, then please purchase an ebook. When Gumroad
            sends me the email notifying me of your purchase, I'll
            blow a kiss at my monitor and whisper your email
            address. Thank you for your support!
          </p>
          <p>
            <em>&mdash; Daniel Higginbotham, programmer, author, and kiss blower</em>
          </p>
        </div>
        <div class="cover">
          <img src="/quests/reducers/images/parallel-cover-1.png" />
        </div>
        <div class="buy">
          <script src="https://gumroad.com/js/gumroad.js"></script>
          <a href="https://gum.co/gHcWk" target="_blank">Support the author, Buy DRM-free ebooks!</a>
        </div>
      </div>
    </div>
    </div>
    <div class="container wrap">
      <div class="main">
        <%= render 'chapter-nav' %>
        <%= yield %>
        <%= render 'chapter-nav' %>
        <%= render 'disqus' %>
      </div>
      <div class="secondary">
        <div class="wrapper">
          <div class="junk">
            <script src="https://gumroad.com/js/gumroad.js"></script>
<a class="gumroad-button" href="https://gum.co/gHcWk" target="_blank">Buy the ebook!?</a>
          </div>
          <div class="ads">
            <a class="twitter-follow-button" href="https://twitter.com/nonrecursive">Follow @nonrecursive</a>
            <form action="http://flyingmachinestudios.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;amp;amp;id=0b40ffd1e1" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
              <input class="email" id="mce-EMAIL" name="EMAIL" placeholder="email address" required="" type="email" value="">
              <input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="get email updates">
            </form>
            <ol>
              <li><a target="_blank" href="https://jobs.braveclojure.com">Find Clojure jobs</a></li>
            </ol>
          </div>
          <div class="chapters">
            <div class="subtitle">Chapters</div>
            <ol class="toc">
              <li>
                <a href="/quests/deploy/preface/">
                  Preface
                </a>
              </li>
              <li>
                <a href="/quests/deploy/intro/">
                  Intro
                </a>
              </li>
              <li>
                <a href="/quests/deploy/set-up-a-server-and-deploy-a-clojure-app-to-it/">
                  Chapter 1: Set Up a Server and Deploy a Clojure App To It
                </a>
              </li>
              <li>
                <a href="/quests/deploy/ansible-tutorial/">
                  Chapter 2: An Ansible Tutorial
                </a>
              </li>
              <li>
                <a href="/quests/deploy/sweet-tooth-deep-dive/">
                  Chapter 3: Sweet Tooth Deep Dive
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div>
          &copy; 2017 Daniel Higginbotham
        </div>
      </div>
    </div>
    <script id="dsq-count-scr" src="//clojureforthebraveandtrue.disqus.com/count.js" async></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/scripts/jquery.sticky.js"></script>
    <script src="/assets/scripts/sticky.js"></script>
    <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
            </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43463851-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
