h2 {
  @include leader(1, 24px);
  @include trailer(1, 24px);
}

h3 {
  @include leader(1, 18px);
  @include trailer(1, 18px);
}

p {
  @include trailer;
}

.masthead {
  @include padding-leader(2);
  @include padding-trailer(1);
  position: relative;
  z-index: 1;
}

.title {
}

.subtitle {
  
}

.lambda {
  position: absolute;
  right: 1em;
  bottom: -1em;
}

.buy {
  @include trailer(.5);
}

.container {
  @include container;
  padding: 0 1em;
}

.page {
  @include leader;
}

.content {
  width: span(9);
}

.engage-me-please {
  @include padding-leader;
  form {
    width: span(9);
  }
}