h1 {
  @include leader(1, $h1);
  @include trailer(1, $h1);
}

h2 {
  @include leader(1, $h2);
  @include trailer(1, $h2);
}

h3 {
  @include leader(1, $h3);
  @include trailer(1, $h3);
}

p {
  @include trailer;
}

.masthead {
  @include padding-leader(4);
  @include padding-trailer(1);
  position: relative;
  z-index: 1;
}

.title {
}

.subtitle {
  
}

.lambda {
  position: absolute;
  right: 1em;
  bottom: -1em;
}

.buy {
  @include trailer(.5);
}

.container {
  @include container;
  padding: 0 1em;
}

.page {
  @include leader;
}

.content {
  width: span(9);
}

.chapter-nav {
  @include span(3 at 10 of 12);
}

.engage-me-please {
  @include padding-leader;
  form {
    width: span(9);
  }
}

.code {
  @include padding-leader(.25);
  @include padding-trailer(.25);
  @include trailer;
}

.chapter-nav>ol {
  @include trailer;
}

ol ol {
  margin-left: 1em;
}

#top-nav {
  position: fixed;
  width: 100%;
  top: -3em;
  @include padding-leader(.25);
  @include padding-trailer(.25);
}

#top-nav-sticky-wrapper.is-sticky #top-nav {
  top: 0;
  display: block;
}

.pagenav.bottom {
  @include leader;
  @include trailer;
  @include clearfix;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}