// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/";

@import "susy"; // grid

$susy: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);
@include border-box-sizing;

$base-font-size: 20px;
$base-line-height: 30px;
@include establish-baseline;

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Gentium Book Basic, Palatino Linotype, Book Antiqua, Palatino, serif;
}

@mixin monospace-family {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

// Colors
$orange: #f26f53;
$burgundy: #591507;
$light-orange: #fffaf9;
$magenta: #e14d6d;
$teal: #489bd2;

$yellow: #f2c153;
$dark-yellow: #595007;
$light-yellow: #fdf4e1;

$main-color: $yellow;
$main-color-accent: $dark-yellow;
$main-color-light: $light-yellow;

$main-color: $orange;
$main-color-accent: $burgundy;
$main-color-light: $light-orange;
$alt-color: $magenta;
$tri-color: $teal;


$red: #ff5553;
$purple: #8873e5;
$dark-purple: #6348dd;

$blue: #73a1e5;
$light-blue: #f8fcfd;
$medium-blue: #d0ebf2;
$dark-blue: #3276d9;

$medium-green: #cdf0cc;
$dark-green: #80d97d;


$h1: 32px;
$h2: 27px;
$h3: 21px;


@import "base";
@import "layout";
@import "theme";